.logo {
    font-size: 15em;
}
/* 超链接 */
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}
a:active {
    text-decoration: none;
    color: gray;
}
/* 分区 */
* {
    margin: 0;
    border: 0;
}
#main {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}
#header {
    display: block;
    margin-bottom: 5em;
}
.left {
    float: left;
    text-align: left;
}
.right {
    text-align: right;
}
#sidebar {
    display: block;
    text-align: right;
}
.mar {
    margin-top: 2em;
    margin-bottom: 2em;
}
#foot {
    display: inline;
}
.tleft {
    float: left;
    text-align: left;
}
.tright {
    float: right;
    margin-top: 16em;
    text-align: right;
}